{% extends 'base.html' %}

{% block title %}
    Score Detail for {{ score.player.user }} - {{ score.song }}
{% endblock %}
{% block page-title %}
    Score Detail
{% endblock %}
{% block page-sub-title %}
    {{ score.player.user }} - {{ score.song }}
{% endblock %}
{% block content %}
    <div class="row mx-auto">
        <div class="col-sm-6 rounded p-2">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th colspan="2">Play Details for {{ score.date }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Player
                    </td>
                    <td>
                        {{ score.player.user.username }}
                    </td>
                </tr>
                <tr>
                    <td>Score</td>
                    <td>{{ score.full_score }}</td>
                </tr>
                <tr>
                    <td>Score Rank</td>
                    <td>{{ score.ex }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="{{ score.proof.url }}" alt="Score proof" class="img-thumbnail">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6 rounded p-2">
            <table class="table table-bordered text-center">
                <thead class="thead-light">
                <tr>
                    <th colspan="2">
                        Score Details
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if score.full_combo %}
                    <tr>
                        {% if score.ex_check is False %}
                            <td colspan="2" class="text-danger">UNDER REVIEW</td>
                        {% else %}
                            <td colspan="2">{{ score.full_combo }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
                <tr>
                    <td><b>EX SCORE</b></td>
                    <td>{{ score.ex }}</td>
                </tr>
                <tr>
                    <td>Marvelous</td>
                    <td>{{ score.marvelous }}</td>
                </tr>
                <tr>
                    <td>Perfect</td>
                    <td>{{ score.perfect }}</td>
                </tr>
                <tr>
                    <td>Great</td>
                    <td>{{ score.great }}</td>
                </tr>
                <tr>
                    <td>Good</td>
                    <td>{{ score.good }}</td>
                </tr>
                <tr>
                    <td>OK</td>
                    <td>{{ score.OK }}</td>
                </tr>
                <tr>
                    <td>Miss</td>
                    <td>{{ score.miss }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}