{% extends 'base.html' %}

{% block title %}
    Score Detail - {{ score.player.user }} {{ score.song }}
{% endblock %}
{% block content %}
    <h2>Score Detail</h2>
    <ul class="list-group bg-dark">
        <li class="list-group-item bg-dark">Player: {{ score.player }}</li>
        <li class="list-group-item bg-dark">Song: {{ score.song }}</li>
        <li class="list-group-item bg-dark">EX: {{ score.ex }}</li>
        <li class="list-group-item bg-dark">Rank: {{ score.score_rank }}</li>
        <li class="list-group-item bg-dark"><img class="img-responsive img-thumbnail text-center"
                                                 src="{{ score.proof.url }}"></li>
    </ul>
{% endblock %}