{% extends 'base.html' %}
{% block title %}
    Score Listing
{% endblock %}
{% block content %}
    <h2>Scores logged: {{ score_list.count }}</h2>
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">Player</th>
            <th scope="col">Song</th>
            <th scope="col" colspan="2">Score</th>
        </tr>
        </thead>
        <tbody class="">
        {% for score in score_list %}
            <tr class="">
                <td>{{ score.player.user.username }}</td>
                <td>{{ score.song }}</td>
                <td>{{ score.ex }}</td>
                <td><a href="{% url 'Scores:score-detail' score.pk %}" class="btn btn-primary btn-block">Check</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}