{% extends 'base.html' %}

{% block title %}
    Tournaments!
{% endblock %}
{% block page-title %}
    Events
{% endblock %}
{% block page-sub-title %}
    Check for an event in your area!
{% endblock %}
{% block content %}
    {% if tournament_list.count > 0 %}
        <ul class="list-group">
    {% for tournament in tournament_list %}
        <li class="list-group-item bg-dark"><a
                href="{% url 'Tourney:tournament-view' tournament.pk %}"
                class="btn btn-block btn-outline-light">{{ tournament.name }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <h4 class="text-center">No events found.</h4>
    {% endif %}

{% endblock %}