{% extends 'base.html' %}

{% block title %}
    Tournament Detail - {{ tournament.name }}
{% endblock %}
{% block content %}
    <h2>Tournament Detail</h2>
    <ul class="list-group bg-dark rounded">
        <li class="list-group-item bg-dark"><b>{{ tournament.name }}</b></li>
        <li class="list-group-item bg-dark">Location: {{ tournament.location }}</li>
        <li class="list-group-item bg-dark">Date: {{ tournament.date }}</li>
        <li class="list-group-item bg-dark">Rules: {{ tournament.rules }}</li>
        <li class="list-group-item bg-dark">
            Organizer: {{ tournament.organizer.first_name }} {{ tournament.organizer.last_name }}</li>
        {% if tournament.tournamententry_set.count > 0 %}
            <li class="list-group-item bg-dark">Entrants:
                {% for foo in tournament.tournamententry_set.all %}
                    {{ foo.entrants.user.username }}<br/>
                {% endfor %}
            </li>
        {% endif %}
        {% if user.is_authenticated and tournament.organizer != user and user not in tournament.tournamententry_set.all %}
        <li class="list-group-item bg-dark">
            <form method="post" action="{% url 'Tourney:tournament-entry' tournament.pk %}">
                {% csrf_token %}
                <h4>Enter this tournament?</h4>
                <div class="btn btn-group">
                    <button class="btn btn-block btn-primary">Join Tournament</button>
                </div>
            </form>
        </li>
        {% endif %}
    </ul>
{% endblock %}