{% extends "base.html" %}

{% block title %}
    About the Project
{% endblock %}
{% block header %}

{% endblock %}

{% block content %}
    <h3>The Project</h3>

    <div>
        <h3>Score Tracking</h3>
        <h6>What's new?</h6>
        <p>This is a score tracker application that just works for you.
            Put your stats up, take a picture, make the leadrboard. That's what you've got here and that's all you
            need.</p>
    </div>
    <div>
        <h3>Tournament Tracking</h3>
        <p>Got a tournament? Track it here. </p>
        <p>{% lorem 2 p random %}</p>
    </div>
    <div>
        <h3>Follow your Friends!</h3>
        <p>Everyone is part of the community; but you know there's favorites. Boost your rep and maybe you might be
            among them!</p>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}