{% extends "base.html" %}

{% block title %}
    Contribute to Arrowsmash
{% endblock %}
{% block page-title %}
    Contribute
{% endblock %}
{% block page-sub-title %}
    So, you want to help?
{% endblock %}

{% block content %}
    The project's <a href="http://www.github.com/tonytornado/Arrowsmash" alt="Github">Github</a> is open-source,
    obviously, but you know it is definitely open
    to pull
    requests and forking. So, if you want to contribute to my project, go ahead!
{% endblock %}

{% block footer %}

{% endblock %}