{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - DDR4</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Accounts/css/main.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <h2><a class="navbar-brand" href="{% url 'home' %}">4RROWSMASH</a></h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Tourney:tournament-list' %}">Tournaments</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Scores:score-list' %}">Scores <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Accounts:profile-list' %}">Players</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contribute' %}">Contribute</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav justify-content-end">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        {% if user.is_superuser %}
                            <h5 class="dropdown-header">Admin</h5>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/admin/">Access Panel</a>
                            <hr/>
                        {% endif %}
                        <h5 class="dropdown-header">Simple Menu</h5>
                        <a class="dropdown-item" href="{% url 'Accounts:view-profile' user.profile.pk %}">View
                            Profile</a>
                        <a class="dropdown-item" href="{% url 'Accounts:update-profile' %}">Update Profile</a>
                        <hr>
                        <h5 class="dropdown-header">Scores</h5>
                        <a class="dropdown-item" href="{% url 'Scores:score-submit' %}">Submit Score</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="#">|</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'Accounts:register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<header id="banner" class="text-center">
    {% block header %}{% endblock %}
    {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</header>
<div class="container py-4">
    {% block content %}{% endblock %}
    <hr/>
    <div class="text-center py-5 jumbotron text-dark">
        <h4 class="display-3">Pre-&alpha; [v.0.1]</h4>
        <h5>This is not even fully conceptualized it's so alpha.</h5>
        <p>Everything here is still in the building stages, from the profiles to the score tracking to the freaking
            ranking system.
            I really want to make sure that everything is fully sketched out and planned so that beginners and pros can
            jump in without worry about where they are or should be.
            Dance Dance Revolution is - first and foremost - a rhythm game with the emphasis on GAME. You should have
            fun, mate!</p>
    </div>
</div>
<footer class="text-center py-2 bg-dark text-light">
    <div class="row container-fluid mx-auto">
        <div class="col-sm mx-auto align-middle text-md-left">Project Arrowstomp</div>
        <div>{% block footer %}{% endblock %}</div>
        <div class="col-sm mx-auto align-middle text-md-right">2018 [-] Phantom Hex</div>
    </div>
</footer>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</body>
</html>