{% extends "base.html" %}

{% block title %}This is a thing here
{% endblock %}

{% block header %}
    <img id="banner" src="https://i.ytimg.com/vi/dekuWSSyGGI/maxresdefault.jpg">
{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-1">Project Arrowstomp</h1>
        {% if user.is_authenticated %}
            Welcome back, {{ user.first_name }}!
        {% endif %}
    </div>
    <section>
        <div>This is a project made for players of Dance Dance Revolution. Currently, this one only services players of
            the latest version. We will be adding more versions over time.
        </div>
    </section>
{% endblock %}