{% extends 'base.html' %}

{% block title %}
    Profile View
{% endblock %}

{% block content %}
    <section class="row mx-auto col-8">
        <div class="col-sm-6 d-flex align-items-center">
            <img src="{{ profile.avatar.url }}" alt="AVATAR" class="img-thumbnail img-responsive">
        </div>
        <div class="col-sm-6">
            <h3>{{ profile.user.username }}</h3>
            <p class="lead">{{ profile.age }} {{ profile.get_gender_display }}</p>
            <div>
                <ul class="list-group">
                    <li class="list-group-item bg-dark">Name: {{ profile.user.get_full_name }}</li>
                    <li class="list-group-item bg-dark">Location: {{ profile.city }}, {{ profile.state }}</li>
                    <li class="list-group-item bg-dark">"{{ profile.tagline }}"</li>
                    <li class="list-group-item bg-dark">{{ profile.rival_code }}</li>
                </ul>
                <br/>
                <h3>Personal Bio</h3>
                <p>{{ profile.bio }}</p>
            </div>
        </div>
    </section>
    <div class="text-center">
        <h3 class="">Latest Scores coming soon!</h3>


        <h3 class="">You old, right?</h3>
        {% if profile.age > 21 %}
            <p>YEAH, 21! SUCK MY DICK! YEAH!</p>
        {% endif %}

        <br/>
    </div>
    {% if profile.user.username == user.username %}

    {% endif %}
    <a class="btn btn-primary btn-block" href="{% url 'home' %}">Home</a>
{% endblock %}