{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    Profile View
{% endblock %}

{% block content %}
    <header class="text-center">
        <h2 class="border mb-0">{{ profile.user.username }}</h2>
        <p class="text-right border bg-primary pt-0">{{ profile.age }} | {{ profile.get_gender_display }}
            | {{ profile.score_set.count }}
            score{{ profile.score_set.count|pluralize }} &nbsp;</p>
    </header>
    <section class="row mx-auto col-10">
        <div class="col-sm-6 d-flex align-items-center" id="avatar_container">
            <img src="{{ profile.avatar.url }}" alt="AVATAR" class="img-thumbnail img-responsive img-circle-avatar">
        </div>
        <div class="col-sm-6" id="information_container">
            <div>
                <ul class="list-group">
                    {% if profile.user.get_full_name %}
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                            Name: {{ profile.user.get_full_name }}
                        </li>{% endif %}
                    {% if profile.city or profile.state %}
                        <li class="list-group-item bg-dark d-flex justify-content-between
                        align-items-center">Location: {{ profile.city }}, {{ profile.state }}</li>{% endif %}
                    {% if profile.tagline %}
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                            "{{ profile.tagline }}"
                        </li>{% endif %}
                    {% if profile.rival_code %}
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">Rival
                            Code: {{ profile.rival_code }}</li>{% endif %}
                    {% if profile.stalked.count > 0 %}
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                            {{ profile.stalked.count }} follower{{ profile.stalked.count|pluralize }}
                        </li>
                    {% endif %}
                </ul>
                <br/>
            </div>
            {% if user.is_authenticated %}
                {% if user.profile == profile %}
                    {# Blank space #}
                {% elif profile.stalked.get not in user.profile.stalker.all %}
                    <div>
                        <form method="post" action="{% url 'Accounts:follow' profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-primary btn-block">Follow them</button>
                        </form>
                    </div>
                {% else %}
                    <div>
                        <form method="post" action="{% url 'Accounts:unfollow' profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger btn-block">Unfollow them</button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <hr/>
    </section>
    <footer class="text-center py-4">
        {% if profile.bio %}
            <h3 class="border">Personal Bio</h3>
            <p>{{ profile.bio }}</p>
            <hr/>
        {% endif %}
    </footer>
    <div class="text-center row">
        {% if profile.score_set.count > 0 %}
            <div class="col-sm-6" id="latest_score">
                <h3 class="border mb-0">Latest Scores</h3>
                <table class="table table-borderless">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Song</th>
                        <th scope="col">Rank</th>
                        <th scope="col">EX</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for score in profile.score_set.all %}
                        <tr>
                            <td scope="col">
                                {{ score.date }}</td>
                            <td>{{ score.song }}</td>
                            <td>{{ score.score_rank }}</td>
                            <td>{{ score.ex }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <hr/>
            </div>
        {% endif %}
        {% if profile.user.tournament.tournamententry_set %}

            <div class="text-center col-sm-6" id="tournaments_entered">
                {% if profile.user.tournament.tournamententry_set.count > 0 %}
                    <h3 class="border mb-0">Tournaments Entered</h3>
                    <table class="table table-borderless">
                        <thead class="thead-light">
                        <tr>
                            <th colspan="2">Tournaments</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in profile.user.tournament.tournamententry_set.all %}
                            {% if entry.tourney.deadline %}
                            {% else %}
                                <tr>
                                    <td>{{ entry.tourney.name }}</td>
                                    <td>{{ entry.tourney.tourney_date }}</td>
                                </tr>
                            {% endif %}

                        {% endfor %}
                        </tbody>
                    </table>

                {% endif %}</div>

        {% endif %}

        {% if profile.winner.count > 0 or profile.second_place.count > 0 or profile.third_place.count > 0 %}
            <div class="col-sm-6" id="tournament_placement">
                <h3 class="border mb-0">Tournaments Placed</h3>
                <table class="table table-borderless">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Placement</th>
                        <th scope="col">Tournament</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if profile.winner.count > 0 %}
                        {% for tourney in profile.winner.all %}
                            <tr>
                                <td scope="col">Winner!</td>
                                <td>{{ tourney.tourney }}</td>
                                <td>{{ tourney.tourney.Date }}</td>
                            </tr>
                        {% endfor %}
                    {% elif profile.second_place.count > 0 %}
                        {% for tourney in profile.second_place.all %}
                            <tr>
                                <td scope="col">2nd</td>
                                <td>{{ tourney.tourney }}</td>
                                <td>{{ tourney.tourney.Date }}</td>
                            </tr>{% endfor %}
                    {% elif profile.third_place.count > 0 %}
                        {% for tourney in profile.third_place.all %}
                            <tr>
                                <td scope="col">3rd</td>
                                <td>{{ tourney.tourney }}</td>
                                <td>{{ tourney.tourney.Date }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No Data Available</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>{% endif %}

        {% if profile.age == 21 %}
            <h3 class="">You old, right?</h3>
            <p>YEAH, 21! SUCK MY DICK! YEAH!</p>
        {% endif %}

        <br/>
    </div>

    {#    <a class="btn btn-primary btn-block" href="{% url 'home' %}">Home</a>#}
{% endblock %}