{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    Profile View
{% endblock %}

{% block content %}
    <section class="row mx-auto col-8">
        <div class="col-sm-6 d-flex align-items-center">
            <img src="{{ profile.avatar.url }}" alt="AVATAR" class="img-thumbnail img-responsive">
        </div>
        <div class="col-sm-6">
            <h3>{{ profile.user.username }}</h3>
            <p class="lead">{{ profile.age }} {{ profile.get_gender_display }}</p>
            <div>
                <ul class="list-group">
                    <li class="list-group-item bg-dark">Name: {{ profile.user.get_full_name }}</li>
                    <li class="list-group-item bg-dark">Location: {{ profile.city }}, {{ profile.state }}</li>
                    {% if profile.tagline %}
                        <li class="list-group-item bg-dark">"{{ profile.tagline }}"</li>{% endif %}
                    {% if profile.rival_code %}
                        <li class="list-group-item bg-dark">{{ profile.rival_code }}</li>{% endif %}
                </ul>
                <br/>
                {% if profile.bio %}
                <h3>Personal Bio</h3>
                <p>{{ profile.bio }}</p>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="text-center border shadow">
        {% if profile.score_set.count > 0 %}
            <h3 class="">Latest Scores</h3>
            <table class="table table-borderless">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Top</th>
                    <th scope="col">Song</th>
                    <th scope="col">Rank</th>
                    <th scope="col">EX Score</th>
                </tr>
                </thead>
                <tbody>
                {% for score in profile.score_set.all %}
                    <tr>
                        <td scope="col">{{ score.id }}</td>
                        <td>{{ score.song }}</td>
                        <td>{{ score.score_rank }}</td>
                        <td>{{ score.ex }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}


        <h2>Tournament Results</h2>
        <table class="table table-borderless">
            <thead class="thead-light">
            <tr>
                <th scope="col">Placement</th>
                <th scope="col">Tournament</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% if profile.winner.count > 0 %}
                {% for tourney in profile.winner.all %}
                    <tr>
                        <td scope="col">Winner!</td>
                        <td>{{ tourney.tourney }}</td>
                        <td>{{ tourney.tourney.Date }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if profile.second_place.count > 0 %}
                {% for tourney in profile.second_place.all %}
                    <tr>
                        <td scope="col">2nd</td>
                        <td>{{ tourney.tourney }}</td>
                        <td>{{ tourney.tourney.Date }}</td>
                    </tr>{% endfor %}
            {% endif %}
            {% if profile.third_place.count > 0 %}
                {% for tourney in profile.third_place.all %}
                    <tr>
                        <td scope="col">3rd</td>
                        <td>{{ tourney.tourney }}</td>
                        <td>{{ tourney.tourney.Date }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

        {% if profile.age == 21 %}
        <h3 class="">You old, right?</h3>
            <p>YEAH, 21! SUCK MY DICK! YEAH!</p>
        {% endif %}

        <br/>
    </div>
    {% if profile.user.username == user.username %}

    {% endif %}
    <a class="btn btn-primary btn-block" href="{% url 'home' %}">Home</a>
{% endblock %}