{% extends 'base.html' %}

{% block title %}
    Players
{% endblock %}
{% block page-title %}
    All Players
{% endblock %}
{% block page-sub-title %}
    You may want to ctrl + f here.
{% endblock %}
{% block content %}
    <div>
        <ul class="list-group">
            {% for profile in profile_list %}
                <li class="list-group-item">
                    <a href="{% url 'Accounts:view-profile' profile.pk %}" class="btn btn-block"
                       title="{{ profile.tagline }}">{{ profile.user.username }} {% if profile.tagline %}
                        - "{{ profile.tagline }}"{% endif %}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}