{% extends 'base.html' %}

{% block title %}
    Players
{% endblock %}
{% block content %}
    <h2>Current Players</h2>
    <div class="col-md-8">
        <ul class="list-group">
            {% for profile in profile_list %}
                <li class="list-group-item">
                    <a href="{% url 'Accounts:view-profile' profile.pk %}" class="btn btn-block"
                       title="{{ profile.tagline }}">{{ profile.user.username }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}