{% extends 'base.html' %}

{% block title %}
    Leagues
{% endblock %}
{% block page-title %}
    League Events
{% endblock %}
{% block page-sub-title %}
    Check for an event in your area!
{% endblock %}
{% block content %}
    {% if league_list.count > 0 %}
        <ul class="list-group">
            {% for league in league_list %}
                <li class="list-group-item bg-dark"><a
                        href="{% url 'League:league-view' league.pk %}"
                        class="btn btn-block btn-outline-light">{{ league.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="text-center">
            <h4>No events found.</h4></div>
    {% endif %}

    {% if user.is_staff %}
        <hr>
        <a href="{% url 'League:league-add' %}" class="btn btn-primary btn-block">Make a new league</a>
    {% endif %}

{% endblock %}