{% extends 'base.html' %}

{% block title %}
    League Detail - {{ league.name }}
{% endblock %}
{% block content %}
    <h2>League Detail</h2>
    <ul class="list-group bg-dark rounded">
        <li class="list-group-item bg-dark"><b>{{ league.name }}</b></li>
        <li class="list-group-item bg-dark">Location: {{ league.location }}</li>
        <li class="list-group-item bg-dark">Date: {{ league.competition_date }}</li>
        <li class="list-group-item bg-dark">Rules: {{ league.rules }}</li>
        <li class="list-group-item bg-dark">
            Organizer: {{ league.organizer.first_name }} {{ league.organizer.last_name }}</li>
        {% if league.leagueentry_set.count > 0 %}
            <li class="list-group-item bg-dark">Entrants:
                {% for foo in league.leagueentry_set.all %}
                    {{ foo.entrants.user.username }}<br/>
                {% endfor %}
            </li>
        {% endif %}
        {% if user.is_authenticated %}
            {% if league.organizer != user %}
                {% if user not in league.leagueentry_set.get.all %}
                    <li class="list-group-item bg-dark">
                        <form method="post" action="{% url 'League:league-entry' league.pk %}">
                            {% csrf_token %}
                            <h4>Enter this league?</h4>
                            <div class="btn btn-group">
                                <button class="btn btn-block btn-primary">Join League</button>
                            </div>
                        </form>
                    </li>
                {% endif %}
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}