{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    League Submission
{% endblock %}
{% block page-title %}
    League Submission
{% endblock %}
{% block page-sub-title %}
    Time to make a new league.
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" action="{% url "League:league-add" %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-block btn-success">Create League</button>
    </form>
{% endblock %}