{% extends 'base.html' %}

{% block title %}
    League Detail - {{ league.name }}
{% endblock %}
{% block page-title %}
    League Detail
{% endblock %}
{% block page-sub-title %}
    {{ league.name }}
{% endblock %}
{% block content %}
    <table class="table table-bordered table-dark">
        <thead class="thead-light">
        <tr>
            <th colspan="2">
                League Data
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>Organizer</b></td>
            <td>{{ league.organizer.get_full_name }} [{{ league.organizer.username }}]</td>
        </tr>
        <tr>
            <td><b>Location</b></td>
            <td>{{ league.mix }}</td>
        </tr>
        <tr>
            <td><b>Length</b></td>
            <td>{{ league.competition_date_start }} - {{ league.competition_date_end }}</td>
        </tr>
        <tr>
            <td><b>Rules</b></td>
            <td>{{ league.rules }}</td>
        </tr>
        <tr>
            <td><b>Entrants</b></td>
            <td>{% if league.leagueentry_set.count > 0 %}
                {% for foo in league.leagueentry_set.all %}
                    {{ foo.entrants.user.username }}<br/>
                {% endfor %}
            {% else %}
                None
            {% endif %}</td>
        </tr>
        </tbody>
    </table>

    {% if user.is_authenticated %}
        {% if league.organizer != user %}
            {% if user not in league.leagueentry_set.get.all %}
                <form method="post" action="{% url 'League:league-entry' league.pk %}">
                    {% csrf_token %}
                    <h5>Enter this league?</h5>
                    <div class="btn btn-group">
                        <button class="btn btn-block btn-primary">Join League</button>
                    </div>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}