{% extends 'base.html' %}

{% block title %}
    Trial View - {{ trial.title }}
{% endblock %}
{% block page-title %}
    Trials
{% endblock %}
{% block page-sub-title %}
    {{ trial.title }}
{% endblock %}
{% block content %}
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">{{ trial.song1.name }}</li>
        <li class="list-group-item list-group-item-dark">{{ trial.song2.name }}</li>
        <li class="list-group-item list-group-item-dark">{{ trial.song3.name }}</li>
        <li class="list-group-item list-group-item-dark">{{ trial.song4.name }}</li>
    </ul>
    <p class="lead text-center">Deadline for scores: {{ trial.deadline|date }}</p>
    <form action="{% url 'League:trial-entry' trial.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-block btn-primary">Accept this trial?</button>
    </form>
{% endblock %}