{% extends 'base.html' %}

{% block title %}
    Trial View - {{ trial.title }}
{% endblock %}
{% block page-title %}
    Trials
{% endblock %}
{% block page-sub-title %}
    {{ trial.title }}
{% endblock %}
{% block content %}
    <table class="table table-lg table-bordered bg-dark text-center">
        <thead class="thead-light">
        <tr>
            <th colspan="4">
                <h3>{{ trial.title }}</h3>
            </th>
        </tr>
        </thead>
        <tbody class="text-light">
        <tr>
            <td>{{ trial.song1.name }}</td>
            <td>{{ trial.song2.name }}</td>
            <td>{{ trial.song3.name }}</td>
            <td>{{ trial.song4.name }}</td>
        </tr>
        <tr>
            <td colspan="4">Deadline for scores: {{ trial.deadline|date }}</td>
        </tr>
        </tbody>
    </table>
    <form action="{% url 'League:trial-entry' trial.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-block btn-primary">Accept this trial?</button>
    </form>
{% endblock %}