{% extends 'base.html' %}

{% block title %}
    Trial View - {{ trial.title }}
{% endblock %}
{% block page-title %}
    Trials
{% endblock %}
{% block page-sub-title %}
    {{ trial.title }}
{% endblock %}
{% block header %}
    <img src="{{ trial.art.url }}">
{% endblock %}
{% block content %}
    <ul class="list-group">
        <li class="list-group-item">{{ trial.song1.name }}</li>
        <li class="list-group-item">{{ trial.song2.name }}</li>
        <li class="list-group-item">{{ trial.song3.name }}</li>
        <li class="list-group-item">{{ trial.song4.name }}</li>
    </ul>
    <p>Deadline for scores: {{ trial.deadline }}</p>
{% endblock %}