@import url('https://fonts.googleapis.com/css?family=Montserrat|Russo+One');

#banner {
    max-height: 200px;
    overflow: hidden;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: "Montserrat", "Lucida Grande", Verdana, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: "Russo One", "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

nav {
    font-family: "Russo One", "Lucida Grande", Verdana, Arial, sans-serif
}

.img-circle-avatar {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
